{% extends 'base.html.twig' %}
{% block body %}
    <dl class="row">
        <dt class="col-sm-3">Mail : </dt>
        <dd class="col-sm-9">{{ entreprise.mail }}</dd>

        <dt class="col-sm-3">Tel :</dt>
        <dd class="col-sm-9"> {{ entreprise.tel }}</dd>
        <dt class="col-sm-3">Adresse :</dt>
        <dd class="col-sm-9"> {{ entreprise.adresse }}</dd>
        <dt class="col-sm-3">Ville :</dt>
        <dd class="col-sm-9"> {{ entreprise.ville }}</dd>
        <dt class="col-sm-3">Code Postal :</dt>
        <dd class="col-sm-9"> {{ entreprise.cp }}</dd>
        <dt class="col-sm-3">Activité :</dt>
        <dd class="col-sm-9"> {{ entreprise.activite }}</dd>
        <dt class="col-sm-3">Active :</dt>
        <dd class="col-sm-9"> {{ entreprise.active }}</dd>
    </dl>
    <a href="https://www.google.com/maps/place/{{ entreprise.adresse }},+{{ entreprise.cp }}+{{ entreprise.ville }}/"><button type="button" class="btn btn-danger">Google Map</button></a>
    <a href="{{path('entreprise_update',{'id':entreprise.id})  }}"> <button type="button" class="btn btn-danger"> Update</button></a>

    </br>
{% endblock %}