{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('entreprise_new')}}"><button type="button" class="addbtn btn btn-danger" >Ajouter une entreprise</button></a>
    <div class="table-responsive" >
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Mail</th>
                <th scope="col">Active</th>
            </tr>
            </thead>
            <tbody>
            {% for entreprise in entreprises %}

                <tr>
                    <td><a href="{{ path('entreprise_display',{'id':entreprise.id}) }}">{{ entreprise.nom }}</a></td>
                    <td>{{ entreprise.mail }}</td>
                    <td>{{ entreprise.active }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}