{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">


        <h1>BIENVENUE SUR EASYSTAGE</h1>
        <P>Le site qui répertorie les stages.</P>
    </div>



{% endblock %}
