.footer {
    position: static;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}

.addbtn{
    margin-top: 1rem ;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-left: 60rem;
}