<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{{ pagename }}{% endblock %}</title>
    {% block stylesheets %}
        {{ include('stylesheets.html.twig') }}
    {% endblock %}
</head>
<body>
    <header id="header-wrap">
        <div class="container">
            {{ include('nav.html.twig') }}
        </div>
    </header>
    <h1>{{ pagename }} </h1>
    <div class="container">
        {% block body %}{% endblock %}
    </div>


    <footer class="footer">
        <div class="container">
        {{ include('footer.html.twig') }}
        </div>
    </footer>
    <!-- Footer Section End-->

    <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
        <i class="fa fa-arrow-up"></i>
    </a>

    <!-- Preloader -->
    <div id="preloader">
        <div class="loader" id="loader-1"></div>
    </div>
    {% block javascripts %}
        {{ include('js.html.twig') }}
    {% endblock %}
</body>
</html>