{#<!-- Container Starts -->#}
{#<div class="footer">#}
    {#<!-- Row Starts -->#}
    {#<div class="row section">#}
        {#<!-- Footer Widget Starts -->#}
        {#<div class="footer-widget col-lg-3 col-md-6 col-xs-12 wow fadeIn">#}
            {#<h3 class="small-title">#}
                {#About Us#}
            {#</h3>#}
            {#<p>#}

            {#</p>#}
            {#<div class="social-footer">#}
                {#<!--  <a href="#"><i class="fa fa-facebook icon-round"></i></a>#}
                  {#<a href="#"><i class="fa fa-twitter icon-round"></i></a>#}
                  {#<a href="#"><i class="fa fa-linkedin icon-round"></i></a>#}
                  {#<a href="#"><i class="fa fa-google-plus icon-round"></i></a> -->#}
            {#</div>#}
        {#</div>#}
        {#<!-- Footer Widget Ends -->#}

        {#<!-- Footer Widget Starts -->#}
        {#<div class="footer-widget col-lg-3 col-md-6 col-xs-12 wow fadeIn" data-wow-delay=".2s">#}
            {#<h3 class="small-title">#}
                {#Links#}
            {#</h3>#}
            {#<ul class="menu">#}
                {#<li><a href="#">About Us</a></li>#}

            {#</ul>#}
        {#</div>#}
        {#<!-- Footer Widget Ends -->#}

        {#<!-- Footer Widget Starts -->#}
        {#<div class="footer-widget col-lg-3 col-md-6 col-xs-12 wow fadeIn" data-wow-delay=".5s">#}

        {#</div>#}
        {#<!-- Footer Widget Ends -->#}

        {#<!-- Footer Widget Starts -->#}
        {#<div class="footer-widget col-lg-3 col-md-6 col-xs-12 wow fadeIn" data-wow-delay=".8s">#}

        {#</div>#}
        {#<!-- Footer Widget Ends -->#}
    {#</div>#}
    {#<!-- Row Ends -->#}

    {#<!-- Container Ends -->#}

{#</div>#}