<nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
    <div class="container">
        {#<!-- Brand and toggle get grouped for better mobile display -->#}
        {#<div class="navbar-header">#}
            {#<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar"#}
                    {#aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">#}
                {#<span class="navbar-toggler-icon"></span>#}
            {#</button>#}
            {#<a href="" class="navbar-brand"><img src="{{ asset('asset/img/logo.png') }}" alt=""></a>#}
        {#</div>#}
        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav mr-auto w-100 justify-content-end clearfix">
                <li class="nav-item ">
                    <a class="nav-link" href="{{ path('index') }}">
                        Home
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{{ path('entreprise_list') }}">
                        Entreprises
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{{ path('stage') }}">
                        Stage
                    </a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('user_list') }}">Liste des utilisateurs</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('logout') }}">Déconnexion</a>
                    </li>
                {% else %}
                    <li class="nav-item {% if mainNavLogin is defined %}active{% endif %}">
                        <a class="nav-link" href="{{ path('login') }}">Connexion</a>
                    </li>
                    <li class="nav-item {% if mainNavRegistration is defined %}active{% endif %}">
                        <a class="nav-link" href="{{ path('inscription') }}">Inscription</a>
                    </li>
                {% endif %}

            </ul>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div>{{ app.user.username }}</div>

            {% endif %}
        </div>
    </div>

    <!-- Mobile Menu Start -->
    <ul class="mobile-menu navbar-nav">
        <li class="nav-item ">
            <a class="nav-link" href="{{ path('index') }}">
                Home
            </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="{{ path('entreprise_list') }}">
                Entreprises
            </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="{{ path('stage') }}">
                Stage
            </a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('user_list') }}">Liste des utilisateurs</a>
            </li>
        {% endif %}
        {% if is_granted('ROLE_USER') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('logout') }}">Déconnexion</a>
            </li>
        {% else %}
            <li class="nav-item {% if mainNavLogin is defined %}active{% endif %}">
                <a class="nav-link" href="{{ path('login') }}">Connexion</a>
            </li>
            <li class="nav-item {% if mainNavRegistration is defined %}active{% endif %}">
                <a class="nav-link" href="{{ path('inscription') }}">Inscription</a>
            </li>
        {% endif %}

    </ul>
    <!-- Mobile Menu End -->

</nav>