<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/app.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/animate.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap.min.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/extras.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/font-awesome.min.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/main.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/nivo-lightbox.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/owl.carousel.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/owl.theme.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/responsive.css') }}" />
<link rel="stylesheet" type="text/css" shref="{{ asset('assets/css/slicknav.css') }}" />