{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <p>Si tu ne trouves pas ton tuteur ou ton entreprise dans les listes respective, click sur un des bouton suivant :</p>
    <a href="{{ path('tuteur_new') }}">
        <button type="button" class="btn btn-danger">Ajouter un tuteur</button>
    </a>
    <a href="{{ path('entreprise_new') }}">
        <button type="button" class="btn btn-danger">Ajouter une entreprise</button>
    </a>
{% endblock %}