{% extends 'base.html.twig' %}

{% block body %}
        {% if is_granted('ROLE_ELEVE') %}
            <a href="{{ path('stage_new') }}">
                <button type="button" class="addbtn btn btn-danger">Ajouter votre stage</button>
            </a>

        {% endif %}
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
            <tr>

                <th scope="col">Id</th>
                <th scope="col">Stagiaire</th>
                <th scope="col">Entreprise</th>
                <th scope="col">Tuteur</th>
                <th scope="col">Prof</th>
                <th scope="col">Date Début</th>
                <th scope="col">Date fin</th>

            </tr>
            </thead>
            <tbody>
            {% for stage in stages %}
                <tr>
                    <td>{{ stage.id }}</td>
                    <td>{{ stage.eleve.user.nom }} {{ stage.eleve.user.prenom }}</td>
                    <td>{{ stage.entreprise.nom }}</td>
                    <td>{{ stage.tuteur.nom  }} {{ stage.tuteur.prenom  }}</td>
                    <td>{{ stage.prof.user.nom  }} {{ stage.prof.user.prenom  }}</td>
                    <td>{{ stage.dateDebut|date("d-M-Y") }}</td>
                    <td>{{ stage.dateFin|date("d-M-Y") }}</td>


                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}