<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>{% block title %}Bienvenue sur EasyStage !{% endblock %}</title>
    {% block stylesheets %}
        {{ include('stylesheets.html.twig') }}
    {% endblock %}
</head>
<body class="is-preload">
{% block nav %}
    <nav id="main-nav" class="container navbar navbar-expand-lg navbar-light bg-light border
rounded mb-3">
        <ul class="navbar-nav">
            <li class="nav-item {% if mainNavHome is defined %}active{% endif %}">
                <a class="nav-link" href="{{path('index')}}">Accueil</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if is_granted('ROLE_USER') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{path('logout')}}">Déconnexion</a>
                </li>
            {% else %}
                <li class="nav-item {% if mainNavLogin is defined %}active{% endif %}">
                    <a class="nav-link" href="{{path('login')}}">Connexion</a>
                </li>
                <li class="nav-item {% if mainNavRegistration is defined %}active{% endif %}">
                    <a class="nav-link" href="{{path('inscription')}}">Inscription</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
{% block flash %}
    {% for flash_message in app.session.flashbag.get('success') %}
        <div class="container alert alert-success" role="alert">
            {{ flash_message }}
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashbag.get('info') %}
        <div class="container alert alert-info" role="alert">
            {{ flash_message }}
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashbag.get('warning') %}
        <div class="container alert alert-warning" role="alert">
            {{ flash_message }}
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashbag.get('danger') %}
        <div class="container alert alert-danger" role="alert">
            {{ flash_message }}
        </div>
    {% endfor %}
{% endblock %}
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
