{% extends 'base.html.twig' %}

{% block body %}
    <div class="table-responsive" >
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Mail</th>
                <th scope="col">Roles</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}

                <tr>
                    <td>{{ user.nom }}</td>
                    <td>{{ user.mail }}</td>
                    <td>{% for role in user.roles %}
                        {{ role }}
                        {% endfor %}
                        <a href="{{ path('role_edit',{'id':user.id}) }}">ajouter</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}