{% extends 'base.html.twig' %}
{% block body %}
    <p>Username: {{ user.username }}</p>
    <p>roles:
        {% for role in user.roles %}
            {{ role }}

        {% endfor %}
    </p>
    {#{{form(form)}}#}
    <div>
        <a href="{{ path('role_add',{'id':user.id, 'role':'ROLE_ADMIN'}) }}">
            <button type="button" class=" btn btn-success">ADMIN</button>
        </a>
        <a href="{{ path('role_add',{'id':user.id, 'role':'ROLE_PROF'}) }}">
            <button type="button" class="btn btn-success">PROF</button>
        </a>
        <a href="{{ path('role_add',{'id':user.id, 'role':'ROLE_ELEVE'}) }}">
            <button type="button" class="btn btn-success">ELEVE</button>
        </a>
    </div>
{% endblock %}